<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- 别名定义 -->
        <typeAlias type="com.yates.entity.Merchant" alias="merchant"/>
        <typeAlias type="com.yates.vo.CustomVo" alias="commonVo"/>
        <typeAlias type="com.yates.entity.User" alias="user"/>
        <typeAlias type="com.yates.entity.Product" alias="product"/>
        <typeAlias type="com.yates.entity.ProductDetail" alias="detail"/>
        <typeAlias type="com.yates.entity.Order" alias="order"></typeAlias>
    </typeAliases>

</configuration>
